.cover__background-link {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  z-index: 0;
}

.cover__background-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:#2A2C2F;
  opacity: .3;
  z-index: -1;
}

.cover__background-link:hover::after {
  opacity: .8;
}

@media (max-width: 1024px) {
  .cover__background-link {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__background-link {
    max-width: 768px;
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__background-link {
    max-width: 320px;
    max-height: 200px;
  }
}