.lead__subtitle {
  margin: 0;
  padding-bottom: 64px;
  white-space: pre-line;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  font-weight: 400;
}
