.lead__caption {
  margin: 0;
  padding-bottom: 99px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
  .lead__caption {
    padding-bottom: 92px;
  }
}

@media (max-width: 968px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 768px) {
  .lead__caption {
    padding-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
    padding-bottom: 64px;
  }
}
