.place {
  margin: 0 auto;
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  column-gap: 16px;
  row-gap: 48px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 92px;
}