.place {
  margin: 0 auto;
  display: grid;
  max-width: 1020px;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  row-gap: 48px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }
  .place:last-child {
    padding-bottom: 90px;
  }
}

@media (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
  .place:last-child {
    padding-bottom: 66px;
  }
}
